
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 0;
    font-size: 66px;
    font-weight: 600;
    color: #945c5c;
    text-shadow: 15px 15px 20px red;
}
.paragraph{
    padding: 2vh;
    background-color: rgba(147, 240, 240, 0.593);
    color: #000;
    width: 50%;
}
.firstParagrph{
    border-top-left-radius:10% ;
    border-top-right-radius:10% ;
}
.lastParagrph{

    border-bottom-right-radius:10% ;
    border-bottom-left-radius:10% ;
}
p{
    margin: 0;
}
main a{
    color: #3109e6;
}

@media screen and (max-width:600px) {
    body{
        grid-template-rows: 10vh 20vh 10vh 10vh 10vh;
    }
    main{
        height: 40vh;
        background-size: 100% 40vh;
    }
}
    @media screen and (min-width:600px) {
        body{
            grid-template-rows: 20vh 45vh 45vh 45vh 20vh;
        }
        main{
            height: 135vh;
            background-size: 100% 135vh;
        }
}