body{
    grid-template-rows: 20vh 35vh 35vh 45vh 20vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 115vh;
    background-size: 100% 115vh;
}
h1{
    font-size: 66px;
    font-weight: 600;
    color: #945c5c;
    text-shadow: 15px 15px 20px red;
}
.paragraph{
    padding: 2vh;
    background-color: rgba(147, 240, 240, 0.593);
    color: #000;
    width: 50%;
}
main p{
   
}

  