
main{
    height: 70vh;
    background-size: 100% 70vh;
}
h1{
    color: #f4aaaa;
    text-align: center;
}
section{
   
    background-color: #393939aa;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
form{
    
    text-align: center;
}
.container-img-and-details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container-img{
    align-self: center;
    animation: circle 4s 3s 2;
    transform: rotateX(0deg);
}
.container-img img:hover{
    filter: invert(100%);
}
@keyframes circle {
    0%{
    transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(180deg);
    }
    100%{
        transform: rotateX(0deg);

    }
    
}
img{
    width: 5vw;
    height: 10vh;
    animation: bigger 3s 1 forwards;
}

input, textarea{
    background-color: #202020;
}
label{
    color: #ffffff;
}
.required::after { 
    content: " *";
    color: #dc1b1b;
}
@media screen and (max-width:600px) {
    body{
        grid-template-rows: 10vh 20vh 35vh 10vh 10vh;
    }
    main{
        height: 65vh;
    }
    @keyframes bigger {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(3);
        }
        
    }
    section{
        width: 45vw;
    }

}
    @media screen and (min-width:600px) {
        body{
            grid-template-rows: 20vh 20vh 20vh 30vh 20vh;
        }
        @keyframes bigger {
            from{
                transform: scale(1);
            }
            to{
                transform: scale(5);
            }
            
        }
        section{
            width: 20vw;
        }
}