
h1{
    color: #f4aaaa;
    text-align: center;
}
section{
    background-color: #393939aa;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
form{
    
    text-align: center;
}
.container-img-and-details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container-img{
    align-self: center;
    animation: circle 4s 3s 2;
    transform: rotateX(0deg);
}
.container-img img:hover{
    filter: invert(100%);
}

img{
    width: 5vw;
    height: 10vh;
}

#spiderManGif{
    display: none;
}
input, textarea{
    background-color: #202020;
}
.btn-primary{
    width: fit-content;
}
label{
    color: #ffffff;
}
.required::after { 
    content: " *";
    color: #dc1b1b;
}
@media screen and (max-width:600px) {
    body{
        grid-template-rows: 10vh 35vh 20vh 20vh 10vh;
    }
    main{
        display: flex;
        flex-direction: column;
        height: 75vh;
        background-image: 100% 75vh;
    }
    @keyframes move {
        from{
            transform: rotate(-90deg) translate(5vh,60vh);
        }
        to{
            transform: rotate(-90deg) translate(5vh, -5vh);
        }
        
    }
    #MarvelGif{
        display: none;
    }
    #spiderManGif{
        display: block;
        transform: rotate(-90deg) translate(5vh,60vh);
        animation: move 5s forwards ;
    }
    section{
        width: 45vw;
    }
    input, textarea{
        width: 40vw;
    }
 
 
    .container-img-and-details{
        align-self: center;
    }

}
    @media screen and (min-width:601px) {
        body{
            grid-template-rows: 20vh 20vh 20vh 30vh 20vh;
        }
        main{
        height: 70vh;
        background-size: 100% 70vh;
        }
        @keyframes bigger {
            from{
                transform: scale(1);
            }
            to{
                transform: scale(5);
            }
            
        }
        @keyframes circle {
        0%{
        transform: rotateX(0deg);
        }
        50%{
            transform: rotateX(180deg);
        }
        100%{
        transform: rotateX(0deg);

        }
    
    }
    #MarvelGif{

        animation: bigger 3s forwards;
    }
        section{
            width: 30vw;
        }
    
    input, textarea{
        width: 25vw;
    }
}