main{
    display: flex;
    justify-content: space-around;
}
img{
    height: 30vh;
    width: 20vw;
    transform: scale(0);
    animation: gifAppear 2s 6s forwards;
}
@keyframes gifAppear {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
    
}
.titles{
    color: #21344600;
    text-align: center;
    align-self: center;
    
}
.title1{
    animation: textAppear 2s forwards;
}
.title2{
    animation: textAppear 2s 2s forwards;
}
@keyframes textAppear {
    from{
        color: #213446;
    }
    to{
        color: #f4aaaa;
    }
    
}
.gif-marvel{
    align-self: flex-end;
    
}
.marvel h1{
    align-self: center;
    color: #213446;
    animation: marvelAppear 2s 4s forwards;
}
@keyframes marvelAppear {
    from{
        color: #213446;
    }
    to{
        font-size: 66px;
        font-weight: 600;
        color: #945c5c;
        text-shadow: 15px 15px 20px red;
    }
    
}
@media screen and (max-width:600px) {
    body{
        grid-template-rows: 10vh 60vh 10vh 10vh 10vh;
    }
    main{
         height: 80vh;
        background-size: 100% 80vh;
    }
    footer{
        height: 30vh;
    }
}
    @media screen and (min-width:600px) {
   body{
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    }
    main{
         height: 60vh;
         background-size: 100% 60vh;
    }
}