.title-movies{
    display: flex;
    flex-direction: column;
    background-color: none;
}
main{
    background-image: url(images/GFX-Background.jpg);
    background-size: 350vw;
    background-repeat: repeat;
}
.movie-card img{
    width: 50vw;
}