
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
h1{ 
    color: #f4aaaa;
    text-align: center;
}
.title-movies{
    background-color: rgba(255, 0, 0, 0.557);
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
section{
    padding-top: 3vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5vh;
}
.container-movies{
    display: flex;
    flex-direction: row;
}  
.movie{
    display: flex;
    justify-content: space-around;
    width: 33vw;
    height: 40vh;
}
.movie-card{
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2vh;
}
.year_like{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: flex-end;
}
.year_like p{
    margin: 0;
}
.likes{
    display: flex;
    gap: 1vh;
}
.movie-card img{
    width: 18vw;
    height: 30vh;
    box-shadow: 5px 5px 10px 2px #000;
}
.movie-card img:hover{
    filter:opacity(50%);
}
.Deadpool .movie-card{
    background-color: rgba(199, 233, 60, 0.633);
}
.Avengers .movie-card{
    background-color: #4a72eda7;
}
.CaptainAmerica .movie-card{
    background-color: rgba(38, 206, 32, 0.666);
}
.IronMan .movie-card{
    background-color: #561616bb;
}
@media screen and (max-width:600px) {
    body{
        grid-template-rows: 10vh 130vh 130vh 120vh 10vh;
    }
    main{
        height: 380vh;
        background-size: 100% 380vh;
    }
    section{
        flex-direction: column;
    }
    .container-movies{
        flex-direction: column;
    }
    }
    @media screen and (min-width:600px) {
        body{
            grid-template-rows: 20vh 80vh 90vh 70vh 20vh;
        }
        main{
            height: 240vh;
            background-size: 100% 240vh;
        }
        section{
            flex-direction: row;
        }
        .container-movies{
            flex-direction: row;
        }
    }