body{
    margin: 0;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
}
nav{
    background-color:#ee171f;
    width: 90vw;
    height: 5vh;
    display: flex;
    gap: 2vh;
    justify-content: center;
    row-gap: 10vh;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
nav a:hover{
    color: blue;
}
.active{
    background-color: #5116e8;
    border-radius: 15%;
}
