body{
    grid-template-rows: 20vh 70vh 70vh 70vh 20vh;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: 100% 210vh;
    height: 210vh;
}

h1{ 
    color: #f4aaaa;
    text-align: center;
}
.title-trailer{
    background-color: rgba(255, 0, 0, 0.557);
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
section{
    padding-top: 3vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5vh;
}
.container-videos{
    display: flex;
    flex-direction: row;
}
.video{
    display: flex;
    justify-content: space-around;
    width: 33vw;
    height: 35vh;
}
.trailer-card{
    background-color: rgba(199, 233, 60, 0.633);
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}
.trailer-card a{
    height: 7vh;
    align-self: center;
    color: #ff0000;
}

@media screen and (max-width:600px) {
body{
    grid-template-rows: 20vh 130vh 130vh 120vh 20vh;
}
main{
    height: 380vh;
    background-size: 100% 380vh;
}
section{
    flex-direction: column;
}
.container-videos{
    flex-direction: column;
}
}
@media screen and (min-width:600px) {
    body{
        grid-template-rows: 20vh 60vh 70vh 70vh 20vh;
    }
    main{
        height: 200vh;
        background-size: 100% 200vh;
    }
    section{
        flex-direction: row;
    }
    .container-videos{
        flex-direction: row;
    }
}